<div class="card bg-gray mb-5">
  <div class="card-body">
    <%= link_to 'New Sponsor', new_sponsor_path, class: 'btn btn-success' %>
  </div>
</div>

<div class="sortable" data-update-url="<%= sort_path(class_name: 'sponsor') %>">
  <% @sponsors.each do |sponsor| %>
    <%= render sponsor %>
  <% end %>
</div>
