<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= content_for?(:meta_title) ? "#{yield(:meta_title)} - #{ENV['app_name']}" : "#{ENV['app_name']}" %></title>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all' %>
